{# src/AppBundle/Resources/views/Visit/order.html.twig#}

{% extends "base.html.twig" %}

    {% block title %}
        {{ 'title.site.order' | trans }} - {{ parent() }}
    {% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    {% endblock %}


    {% block body %}

        <div class="container">
            <div class="row">

                <div class="col-lg-12 section-progress">

                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item text-purple font-weight-bold"
                                    style="text-decoration:underline;">{{ 'breadcrumb.first.label' | trans }}
                                </li>
                                <li class="breadcrumb-item active">{{ 'breadcrumb.second.label' | trans }}</li>
                                <li class="breadcrumb-item active">{{ 'breadcrumb.third.label' | trans }}</li>
                                <li class="breadcrumb-item active">{{ 'breadcrumb.fourth.label' | trans }}</li>
                                <li class="breadcrumb-item active">{{ 'breadcrumb.five.label' | trans }}</li>
                            </ol>
                        </nav>
                </div>
            </div>
        </div>


        <section>
            <div class="container">
                <div class="row">


                    <div class="col-lg-12">
                        <div class="container">
                            <div class="form-group">


                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="tile">
                                            <div class="wrapper">
                                                <div class="header text-title">{{ visit.event.title }}</div>

                                                <div class="banner-img">
                                                    <img src="http://via.placeholder.com/640x360" alt="Image 1">
                                                </div>

                                                <div class="dates">
                                                    <div class="start">
                                                        <strong class="mb-2">Arrivé</strong>
                                                        <p
                                                           id="startDate">{{ visit.event.startDate|date('j/m/y') }}</p>
                                                        <span></span>
                                                    </div>
                                                    <div class="ends">
                                                        <strong class="mb-2">Départ</strong>
                                                        <p
                                                           id="endDate">{{ visit.event.startDate|date('j/m/y') }}</p>
                                                    </div>
                                                </div>

                                                <div class="stats">

                                                    <div>
                                                        <strong class="mb-2">Formule</strong> <span id="sumFormula">1 jour</span>
                                                    </div>

                                                    <div>
                                                        <strong class="mb-2">Nombre de tickets</strong><span
                                                                id="sumTickets">1 place</span>
                                                    </div>

                                                    <div>
                                                        <strong class="mb-2">Totale</strong> <span
                                                                id="sumPrice">{{ visit.event.price }} €</span>
                                                    </div>

                                                </div>
                                                <div class="container">
                                                    {{ form_start(form, {'attr': {'class': 'was-validated'}}) }}

                                                    {{ form_row(form.type, {label_attr: {class: 'radio-custom'} }) }}
                                                    <br/>


                                                    {{ form_row(form.visitDate) }}<br/>

                                                    {{ form_row(form.nbTicket) }}<br/>
                                                </div>


                                                <div class="footer">
                                                    <a href="#" class="btn btn-lg btn-grey upperCase">Annuler</a>
                                                    <button type="submit"
                                                            class="btn btn-lg btn-purple upperCase">{{ 'button.validate' | trans }}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-1">
                                    </div>

                                    <div class="col-sm-11">

                                    </div>
                                </div>

                                {{ form_end(form) }}<br/>

                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </section>


    {% endblock %}



{% block javascripts %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script>

        function calculSomme(nbrTickets, nbrDays) {
            price = parseInt($('.datepicker')[0].dataset.price);

            if (nbrDays !== 1) {
                return $('#sumPrice')[0].innerText = nbrTickets  * price* nbrDays  - (nbrTickets * nbrDays * 5) + " €";

            } else {
                return $('#sumPrice')[0].innerText = nbrTickets  * price* nbrDays  + " €";

            }
        }

        $(document).ready(function () {

            //Initialisation des valeur startDate et endDate traduite a partir de twig
            $('#startDate')[0].innerText = moment($('#startDate')[0].innerText, "DD/MM/YYYY").format("dddd D MMMM YYYY - 8:00")
            $('#endDate')[0].innerText = moment($('#endDate')[0].innerText, "DD/MM/YYYY").format("dddd D MMMM YYYY - 20:00")


            $('.datepicker').daterangepicker({

                "locale": {

                    "format": "DD/MM/YYYY",
                    "separator": " - ",
                    "applyLabel": "Valider",
                    "cancelLabel": "Annuler",
                    "fromLabel": "De",
                    "toLabel": "A",
                    "customRangeLabel": "Custom",
                    "weekLabel": "M",
                    "daysOfWeek": [
                        "Dim",
                        "Lun",
                        "Mar",
                        "Mer",
                        "Jeu",
                        "Ven",
                        "Sam"
                    ],
                    "monthNames": [
                        "Janvier",
                        "Fevrier",
                        "Mars",
                        "Avril",
                        "Mai",
                        "Juin",
                        "Juillet",
                        "Aout",
                        "Septembre",
                        "Octobre",
                        "Novembre",
                        "Decembre"
                    ],
                    "firstDay": 1
                },
                "startDate": "{{ visit.event.startDate|date('j/m/y') }}",
                "endDate": "{{ visit.event.startDate|date_modify("+1 day")|date('j/m/y') }}",
                "minDate": "{{ visit.event.startDate|date('j/m/y') }}",
                "maxDate": "{{ visit.event.endDate|date('j/m/y') }}",
                "maxSpan": {
                    "days": 1
                },
                "opens": "center"
            }, function (start, end, label) {
                $('.datepicker').value = start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY');

                var a = moment(start.format('DD/MM/YYYY'), 'D/M/YYYY');
                var b = moment(end.format('DD/MM/YYYY'), 'D/M/YYYY');
                var diffDays = b.diff(a, 'days') + 1;

                $('#appbundle_visit_type')[0].options.selectedIndex = diffDays - 1;
                console.log('New date range selected: ' + start.format('DD/MM/YYYY') + ' to ' + end.format('DD/MM/YYYY') + ' (range: ' + diffDays + ')');

                //Actualisation de la endDate et startDate au changement dans le datepicker
                $('#startDate')[0].innerText = start.format("dddd D MMMM YYYY - 8:00");
                $('#endDate')[0].innerText = end.format("dddd D MMMM YYYY - 8:00");
            });

            //Initialisation de la EndDate
            var momentObj = moment($('.datepicker')[0].dataset.startdate, "DD/MM/YYYY");
            $('.datepicker').data('daterangepicker').setEndDate(momentObj);

            //Initialisation de la somme
            nbrTickets = parseInt($('#appbundle_visit_nbTicket')[0].selectedIndex + 1);
            nbrDays = parseInt($('#appbundle_visit_type')[0].selectedIndex + 1);
            calculSomme(nbrTickets, nbrDays);

            //Listener du select des tickets
            $('#appbundle_visit_nbTicket').on('change', (tickets) => {
                $('#sumTickets')[0].innerText = tickets.target.selectedIndex + 1 + " places";

                //Actualisation de la somme
                nbrTickets = parseInt(tickets.target.selectedIndex + 1);
                nbrDays = parseInt($('#appbundle_visit_type')[0].selectedIndex + 1);
                calculSomme(nbrTickets, nbrDays);
            })

            //Listerner du select des formules pass journalier
            $('#appbundle_visit_type').on('change', (type) => {


                $('.datepicker').daterangepicker({
                        "locale": {
                            "format": "DD/MM/YYYY",
                            "separator": " - ",
                            "applyLabel": "Valider",
                            "cancelLabel": "Annuler",
                            "fromLabel": "De",
                            "toLabel": "A",
                            "customRangeLabel": "Custom",
                            "weekLabel": "M",
                            "daysOfWeek": [
                                "Dim",
                                "Lun",
                                "Mar",
                                "Mer",
                                "Jeu",
                                "Ven",
                                "Sam"
                            ],
                            "monthNames": [
                                "Janvier",
                                "Fevrier",
                                "Mars",
                                "Avril",
                                "Mai",
                                "Juin",
                                "Juillet",
                                "Aout",
                                "Septembre",
                                "Octobre",
                                "Novembre",
                                "Decembre"
                            ],
                            "firstDay": 1
                        },
                        "startDate": "{{ visit.event.startDate|date('j/m/y') }}",
                        "endDate": "",
                        "minDate": "{{ visit.event.startDate|date('j/m/y') }}",
                        "maxDate": "{{ visit.event.endDate|date('j/m/y') }}",
                        "maxSpan": {
                            "days": type.target.selectedIndex
                        },
                        "opens": "center"
                    }, function (start, end, label) {
                        //Actualisation de la valeur selectionné dans l'input
                        $('.datepicker').value = start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY');

                        //Calcul de la difference entre les deux dates
                        var a = moment(start.format('DD/MM/YYYY'), 'D/M/YYYY');
                        var b = moment(end.format('DD/MM/YYYY'), 'D/M/YYYY');
                        var diffDays = b.diff(a, 'days') + 1;

                        //Utilisation de la difference pour determiner quelle pass journalier appliqué et le rend selectionné
                        $('#appbundle_visit_type')[0].options.selectedIndex = diffDays - 1;
                        console.log('New date range selected: ' + start.format('DD/MM/YYYY') + ' to ' + end.format('DD/MM/YYYY') + ' (range: ' + diffDays + ')');

                        //Actualisation des date de debut de fin
                        $('#startDate')[0].innerText = start.format("dddd D MMMM YYYY - 8:00");
                        $('#endDate')[0].innerText = end.format("dddd D MMMM YYYY - 8:00");
                    }
                );

                //Actualisation de la formule
                $('#sumFormula')[0].innerText = type.target.selectedIndex + 1 + " jours";

                //Creation de la nouvelle endDate a partir de la seclection choisis dans le select des pass journalier
                var momentObj = moment( $('.datepicker').data('daterangepicker').startDate).add(type.target.selectedIndex + 1, 'days');

                //Actualisation de la endDate et la startDate

                $('#startDate')[0].innerText =  $('.datepicker').data('daterangepicker').startDate.format("dddd D MMMM YYYY - 8:00");
                $('#endDate')[0].innerText = momentObj.subtract(1, 'days').format("dddd D MMMM YYYY - 20:00")

                //Actualisation du datepicker
                $('.datepicker').data('daterangepicker').setEndDate(momentObj);

                //Actualisation de la somme
                nbrTickets = parseInt($('#appbundle_visit_nbTicket')[0].selectedIndex + 1);
                nbrDays = parseInt($('#appbundle_visit_type')[0].selectedIndex + 1);
                calculSomme(nbrTickets, nbrDays);

            })

        });
    </script>


{% endblock %}
