{% extends '/base.html.twig' %}

{% block title %}
    {{ site_name }} - Faq
{% endblock %}
{% block gtag %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107718823-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-107718823-2');
    </script>
{% endblock %}
{% block meta_description %}
    <meta name="description"
          content="Agence web à Lens. Conception et développement de sites sur mesure. Communication digitale, référencement SEO Google."/>{% endblock %}
{% block meta_keywords %}
    <meta name="keywords"
          content="Agence web de communication web marketing, stratégie digitale à Lens, France, creation site internet, agence de développement web, Création site internet, Lens, Lille, France, creation site internet, 59, 62, Nord Pas de Calais, Nord, Haut de France, création site internet vitrine, community management entreprise, community management personnel, création boutique en ligne, site internet, site web, création site internet boutique en ligne, Création site web, 75, Paris, Création site web e commerce, agence de référencement, agence seo, seo, référencement naturel, web marketing, agence web, agence de communication, vidéo promotionnelle, vidéo commercial, création site catalogue, création site internet responsive, généré du trafic sur mon site internet, première page google, référencement google, création de site internet france, conseil et webdesign, référencement internet, agence web, site internet responsive, site responsive, création et optimisation de site web, web design et développement de site internet, communication digitale, webmarketing, création site internet boutique en ligne, boutique en ligne, créer boutique en ligne, refonte boutique en ligne, refonte site internet e-commerce, responsive web design, refonte site internet responsive, site adaptable, site internet, site web, création site internet, création site web, responsive, création site internet e-commerce"/>{% endblock %}
{% block meta_robots %}
    <meta name="robots" content="unavailable_after: [date ]">{% endblock %}
{% block google %}
    <meta name="google" content="unavailable_after: [date ]">{% endblock %}

{% block style_custom %}

    <style>

    </style>
{% endblock %}
{% block body %}
    <div class="pt-80 pl-0 pr-0 pb-0 pt-80Mobile pl-0Mobile pr-0Mobile pb-0Mobile breadcrumb">
        <img src="{{ asset('pho/breadcrumb.png') }}" alt="image fond breadcrumb" class="img-breadcrumb">
        <div class="container">
            <div class="text d-flex">
                <a href="{{ path('index') }}">
                    <h3 class="upperCase size-bigText">Accueil</h3>
                </a>
                <p class="upperCase size-bigText ml-10 mr-10 ml-10Mobile mr-10Mobile">/</p>
                <a href="{{ path('faq.index') }}">
                    <h3 class="upperCase size-bigText">FAQ</h3>
                </a>
            </div>
        </div>
    </div>

    <section class="container fc-white">
        <div class="faq-section mt-50 mt-40Mobile">
            <div class="row">
                <!-- ***** FAQ Start ***** -->
                        <h2 class="size-title text-center w-100 mb-40 mb-30Mobile">FAQ</h2>
                {% for question in faqQuestions %}


                    <div class="col-md-12">

                        <div class="faq" id="accordion">
                            <div class="card">
                                <div class="card-header" id="faqHeading-{{ loop.index }}">
                                    <div class="mb-0">
                                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-{{ loop.index }}" data-aria-expanded="true" data-aria-controls="faqCollapse-{{ loop.index }}">
                                            <span class="badge"> {{ loop.index }}</span>{{ question.questionTitle }}
                                        </h5>
                                    </div>
                                </div>
                                <div id="faqCollapse-{{ loop.index }}" class="collapse" aria-labelledby="faqHeading-{{ loop.index }}" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>{{ question.questionAnswer }}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>


    {% endblock %}

{% block javascripts %}

{% endblock %}
