<header>
	<div class="container nav d-flex justify-content-between align-items-center">
		<input type="checkbox" id="nav-check">
		<div class="nav-header">
			<div class="nav-title">
				<a href="{{ path("index") }}"><img src="{{ asset("img/logo.png") }}" alt="Agence Pop Web logo"/></a>
			</div>
		</div>
		<div class="nav-btn">
			<label for="nav-check">
				<span></span>
				<span></span>
				<span></span>
			</label>
		</div>

		<div class="nav-links">
			<a class="nav-link {% if current_menu is defined and current_menu == 'events' %}active{% endif %}"
               href="{{ path('events.index') }}">Evènements <span class="sr-only">(current)</span></a>
            <a class="nav-link {% if current_menu is defined and current_menu == 'articles' %}active{% endif %}"
               href="{{ path('articles.index') }}">Blog <span class="sr-only">(current)</span></a>
            <a class="nav-link {% if current_menu is defined and current_menu == 'videos' %}active{% endif %}"
               href="{{ path('video.index') }}">Vidéos <span class="sr-only">(current)</span></a>
            <a class="nav-link {% if current_menu is defined and current_menu == 'faq' %}active{% endif %}"
               href="{{ path('faq.index') }}">FAQ <span class="sr-only">(current)</span></a>
            <a class="nav-link {% if current_menu is defined and current_menu == 'contact' %}active{% endif %}"
               href="{{ path('contact.show') }}">Contactez-nous</a>
		</div>
      <div class="nav-right">
         {# <button type="button" class="btn btn-primary search-btn btn-lg"><i class="fa fa-search"></i></button> #}
          <a href="#search"><i class="fa fa-search"></i></a>
         {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}


                        <a class="nav-link " href="/admin"><button class="btn btn-lg btn-purple">
									Admin
								</button></a>

                {% endif %}
                <a class=" {% if current_menu is defined and current_menu == 'logout' %}active{% endif %}"
                   href="{{ path('app_logout') }}"><button class="btn btn-lg btn-purple">
									Deconnexion
								</button></a>

            {% else %}

                  <a class=" {% if current_menu is defined and current_menu == 'login' %}active{% endif %}"
                   href="{{ path('app_login') }}"><button class="btn btn-lg btn-purple">
									Connexion
								</button></a>

                {# <a class="btn btn-block mb-20 btn-purple {% if current_menu is defined and current_menu == 'login' %}active{% endif %}"
                   href="{{ path('app_login') }}">Connexion</a> #}

            {% endif %}
      </div>
	</div>
   <div id="search">
    <button type="button" class="close"><i class="fas fa-times"></i></button>
    <form>
        <input type="search" value="" placeholder="Rechercher..." />
        <button type="submit" class="btn btn-lg btn-purple">Ok</button>
    </form>
</div>
</header>





{# <header>
    <div id="marge-du-header">
        <a href="{{ path("index") }}"><img src="{{ asset("img/logo.png") }}" alt="Agence Pop Web logo"/></a>
        <div id="menu-du-header">


            <a class="nav-link {% if current_menu is defined and current_menu == 'events' %}active{% endif %}"
               href="{{ path('events.index') }}">Evènements <span class="sr-only">(current)</span></a>
            <a class="nav-link {% if current_menu is defined and current_menu == 'articles' %}active{% endif %}"
               href="{{ path('articles.index') }}">Blog <span class="sr-only">(current)</span></a>
            <a class="nav-link {% if current_menu is defined and current_menu == 'videos' %}active{% endif %}"
               href="{{ path('video.index') }}">Vidéos <span class="sr-only">(current)</span></a>
            <a class="nav-link {% if current_menu is defined and current_menu == 'faq' %}active{% endif %}"
               href="{{ path('faq.index') }}">FAQ <span class="sr-only">(current)</span></a>
            <a class="nav-link {% if current_menu is defined and current_menu == 'contact' %}active{% endif %}"
               href="{{ path('contact.show') }}">Contactez-nous</a>
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}


                        <a class="nav-link " href="/admin">Admin</a>

                {% endif %}
                <a class=" {% if current_menu is defined and current_menu == 'logout' %}active{% endif %}"
                   href="{{ path('app_logout') }}">Se déconnecter</a>

            {% else %}

                <a class=" {% if current_menu is defined and current_menu == 'login' %}active{% endif %}"
                   href="{{ path('app_login') }}">Se connecter</a>
                <a class=" {% if current_menu is defined and current_menu == 'register' %}active{% endif %}"
                   href="{{ path('app_register') }}">S'inscrire</a>


            {% endif %}


        </div>
    </div>
</header> #}
