<header>
<div class="container">
	<div class="nav fixed-top d-flex justify-content-between align-items-center">
		<input type="checkbox" id="nav-check">
		<div class="nav-header">
			<div class="nav-title">
				<a href="{{ path("index") }}"><img src="{{ asset("img/logo.png") }}" alt="logo Eventoo"/></a>
			</div>
		</div>
		<div class="nav-btn">
			<label for="nav-check">
				<span></span>
				<span></span>
				<span></span>
			</label>
		</div>

		<div class="nav-links">
      <a class="nav-link {% if current_menu is defined and current_menu == 'index' %}active{% endif %}"
               href="{{ path("index") }}">Accueil <span class="sr-only">(current)</span></a>
			<a class="nav-link {% if current_menu is defined and current_menu == 'events' %}active{% endif %}"
               href="{{ path('events.index') }}">Evènements <span class="sr-only">(current)</span></a>
            <a class="nav-link {% if current_menu is defined and current_menu == 'articles' %}active{% endif %}"
               href="{{ path('articles.index') }}">Blog <span class="sr-only">(current)</span></a>
            <a class="nav-link {% if current_menu is defined and current_menu == 'videos' %}active{% endif %}"
               href="{{ path('video.index') }}">Vidéos <span class="sr-only">(current)</span></a>
            <a class="nav-link {% if current_menu is defined and current_menu == 'faq' %}active{% endif %}"
               href="{{ path('faq.index') }}">FAQ <span class="sr-only">(current)</span></a>
            <a class="nav-link {% if current_menu is defined and current_menu == 'contact' %}active{% endif %}"
               href="{{ path('contact.show') }}">Contactez-nous</a>
		</div>
      <div class="nav-right">
         <a class="nav-link mk-search-trigger mk-fullscreen-trigger" href="#" id="search-button-listener">
            <div id="search-button"><i class="fa fa-search"></i></div>
         </a>
         {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}


                        <a class="nav-link " href="/admin"><button class="btn btn-medium btn-purple">
									Admin
								</button></a>

                {% endif %}
                <a class=" {% if current_menu is defined and current_menu == 'logout' %}active{% endif %}"
                   href="{{ path('app_logout') }}"><button class="btn btn-medium btn-purple">
									Deconnexion
								</button></a>

            {% else %}

                  <a class=" {% if current_menu is defined and current_menu == 'login' %}active{% endif %}"
                   href="{{ path('app_login') }}"><button class="btn btn-medium btn-purple">
									Connexion
								</button></a>

            {% endif %}
      </div>
	</div>
   </div>
   <div class="overlay">
      <div class="mk-fullscreen-search-overlay" id="mk-search-overlay">
        <a href="#" class="mk-fullscreen-close" id="mk-fullscreen-close-button"><i class="fa fa-times"></i></a>
        <div id="mk-fullscreen-search-wrapper">
          <form method="get" id="mk-fullscreen-searchform" action="">
            <input class="input" type="text" value="" placeholder="Rechercher..." id="mk-fullscreen-search-input">
            <i class="fa fa-search fullscreen-search-icon"><input value="" type="submit"></i>
          </form>
        </div>
      </div>
    </div>
</header>





{# <header>
    <div id="marge-du-header">
        <a href="{{ path("index") }}"><img src="{{ asset("img/logo.png") }}" alt="Agence Pop Web logo"/></a>
        <div id="menu-du-header">


            <a class="nav-link {% if current_menu is defined and current_menu == 'events' %}active{% endif %}"
               href="{{ path('events.index') }}">Evènements <span class="sr-only">(current)</span></a>
            <a class="nav-link {% if current_menu is defined and current_menu == 'articles' %}active{% endif %}"
               href="{{ path('articles.index') }}">Blog <span class="sr-only">(current)</span></a>
            <a class="nav-link {% if current_menu is defined and current_menu == 'videos' %}active{% endif %}"
               href="{{ path('video.index') }}">Vidéos <span class="sr-only">(current)</span></a>
            <a class="nav-link {% if current_menu is defined and current_menu == 'faq' %}active{% endif %}"
               href="{{ path('faq.index') }}">FAQ <span class="sr-only">(current)</span></a>
            <a class="nav-link {% if current_menu is defined and current_menu == 'contact' %}active{% endif %}"
               href="{{ path('contact.show') }}">Contactez-nous</a>
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}


                        <a class="nav-link " href="/admin">Admin</a>

                {% endif %}
                <a class=" {% if current_menu is defined and current_menu == 'logout' %}active{% endif %}"
                   href="{{ path('app_logout') }}">Se déconnecter</a>

            {% else %}

                <a class=" {% if current_menu is defined and current_menu == 'login' %}active{% endif %}"
                   href="{{ path('app_login') }}">Se connecter</a>
                <a class=" {% if current_menu is defined and current_menu == 'register' %}active{% endif %}"
                   href="{{ path('app_register') }}">S'inscrire</a>


            {% endif %}


        </div>
    </div>
</header> #}
