{% extends '/base.html.twig' %}

{% block title %}
	{{ site_name }}
	- Evénnements
{% endblock %}
{% block gtag %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107718823-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

function gtag() {
dataLayer.push(arguments);
}

gtag('js', new Date());

gtag('config', 'UA-107718823-2');
	</script>
{% endblock %}
{% block meta_description %}
	<meta name="description" content="Agence web à Lens. Conception et développement de sites sur mesure. Communication digitale, référencement SEO Google."/>
{% endblock %}
{% block meta_keywords %}
	<meta name="keywords" content="Agence web de communication web marketing, stratégie digitale à Lens, France, creation site internet, agence de développement web, Création site internet, Lens, Lille, France, creation site internet, 59, 62, Nord Pas de Calais, Nord, Haut de France, création site internet vitrine, community management entreprise, community management personnel, création boutique en ligne, site internet, site web, création site internet boutique en ligne, Création site web, 75, Paris, Création site web e commerce, agence de référencement, agence seo, seo, référencement naturel, web marketing, agence web, agence de communication, vidéo promotionnelle, vidéo commercial, création site catalogue, création site internet responsive, généré du trafic sur mon site internet, première page google, référencement google, création de site internet france, conseil et webdesign, référencement internet, agence web, site internet responsive, site responsive, création et optimisation de site web, web design et développement de site internet, communication digitale, webmarketing, création site internet boutique en ligne, boutique en ligne, créer boutique en ligne, refonte boutique en ligne, refonte site internet e-commerce, responsive web design, refonte site internet responsive, site adaptable, site internet, site web, création site internet, création site web, responsive, création site internet e-commerce"/>
{% endblock %}
{% block meta_robots %}
	<meta name="robots" content="unavailable_after: [date ]">
{% endblock %}
{% block google %}
	<meta name="google" content="unavailable_after: [date ]">
{% endblock %}

{% block style_custom %}

	<style></style>
{% endblock %}
{% block body %}
	<div class="pt-80 pl-0 pr-0 pb-0 pt-80Mobile pl-0Mobile pr-0Mobile pb-0Mobile breadcrumb">
		<img src="{{ asset('pho/breadcrumb.png') }}" alt="image fond breadcrumb" class="img-breadcrumb">
		<div class="container">
			<div class="text d-flex">
				<a href="{{ path('index') }}">
					<h3 class="upperCase size-litleTitle">Accueil</h3>
				</a>
				<p class="upperCase size-litleTitle ml-10 mr-10 ml-10Mobile mr-10Mobile">/</p>
				<a href="{{ path('events.index') }}">
					<h3 class="upperCase size-litleTitle">Évènements</h3>
				</a>
			</div>
		</div>
	</div>
	<div class="container fc-white">
		<div class="events text-center mt-50 mt-40Mobile">
			<h1 class="upperCase size-title">Evenements à venir</h1>
			<div class="events-filter mt-40 mt-30Mobile mb-20 mb-20Mobile">
				<div class="pt-40 pb-40 pl-40 pr-40 pt-40Mobile pb-40Mobile pl-40Mobile pr-40Mobile text-left">
					<div class="row">
                        <div class="col-sm-12 col-md-10">
                            <div class="row">
                                <div class="col-sm-12 col-md-4 pb-40Mobile">
                            <p class="upperCase fc-grey">Évènement</p>
							<div class="wrap-input100 validate-input">
								<input class="input100" type="text" name="date">
								<span class="focus-input100" data-placeholder="Date"></span>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 pb-40Mobile">
                            <p class="upperCase fc-grey">Recherche</p>
							<div class="wrap-input100 validate-input">
								<input class="input100" type="text" name="recherche">
								<span class="focus-input100" data-placeholder="Mots clés"></span>
							</div>
                        </div>
                        <div class="col-sm-12 col-md-4 pb-40Mobile">
                            <p class="upperCase fc-grey">A proximité</p>
							<div class="wrap-input100 validate-input">
								<input class="input100" type="text" name="lieu">
								<span class="focus-input100" data-placeholder="Lieu"></span>
							</div>
                        </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <a href="" class="">
                                <button class="btn btn-lg btn-purple">
                                    Rechercher
                                </button>
                            </a>
                        </div>
                        
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">

					{% for event in events %}

						<div class="event-item mt-10 mb-10 mt-10Mobile mb-10Mobile">
							<div class="card-event img-hover-zoom pt-40 pb-20 pl-40 pr-40 pt-40Mobile pb-20Mobile pl-40Mobile pr-40Mobile">
								<a href="{{ path('event.show',{'slug':event.slug}) }}">
									{# <img class="d-block lazyload " src="{{ asset("img/low_res.jpg") }}" data-src="{{ app_path_events_images }}{{ event.thumbnail }}" alt="{{ event.imgAlternate }}"/> #}
									<img class="d-block lazyload img-event" src="{{ asset("pho/event-banner.png") }}"/>
								</a>
								<div class="text-event">
									<div>
										<a href="{{ path('event.show',{'slug':event.slug}) }}">
											<h2 class="upperCase size-subtitle mb-4">
												{{ event.title|striptags|length >20 ? event.title|striptags|slice(0, 50) ~ '...' : event.title|striptags }}
											</h2>
										</a>
										<div class="icons size-text fc-dark-grey">
											<div class="d-flex mb-3">
												<i class="fa fa-calendar mr-4" aria-hidden="true"></i>
												<div>
													<span>Du
														04/15/2020 08:04
													</span>
													<br>
													<span>Au
														09/10/2020 01:09
													</span>
												</div>
											</div>
											<div class="d-flex mb-4">
												<i class="fa fa-map-marker mr-4" aria-hidden="true"></i>
												<div>
													<span>
														624, avenue Lemonnier
														54 724 Collin
													</span>
												</div>
											</div>
										</div>
										<div class="d-flex align-items-center">
											<a href="" class="d-flex">
												<button class="btn btn-lg btn-purple">
													Tickets
												</button>
											</a>
											<a href="{{ path('event.show',{'slug':event.slug}) }}" class="more fc-dark-grey ml-20 ml-20Mobile">En savoir plus</a>
										</div>
										{# <p class="p-date" data-date="{{ event.updatedAt| date('U') }}"></p> #}
									</div>
								</div>
							</div>
						</div>

					{% endfor %}
					{% if events|length == 0 %}
						<div class="fullHeight">
							<p>Il n'y a aucun event pour l'instant :)</p>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-60 mt-50Mobile fc-white">
	<h1 class="upperCase size-title text-center mb-30 mb-30Mobile">Tous nos évènements</h1>
		<div class="row">
			<div class="col-sm-12 col-md-4 mt-10 mb-10 mt-10Mobile mb-10Mobile">
				<div class="card--general-event img-hover-zoom img-hover-zoom--brightness">
					<a href="/en/events/airbeat-one/" class="general-event__link">
						<img class="img-event lazyload " src="{{ asset("pho/event.png") }}" alt="image event"> 
						<div class="general-event__logo-container">
							<h3 class="upperCase size-title fc-white">Titre</h3>
						</div>
					</a> 
				</div>
			</div>
			<div class="col-sm-12 col-md-4 mt-10 mb-10 mt-10Mobile mb-10Mobile">
				<div class="card--general-event img-hover-zoom img-hover-zoom--brightness">
					<a href="/en/events/airbeat-one/" class="general-event__link">
						<img class="img-event lazyload " src="{{ asset("pho/event.png") }}" alt="image event"> 
						<div class="general-event__logo-container">
							<h3 class="upperCase size-title fc-white">Titre</h3>
						</div>
					</a> 
				</div>
			</div>
			<div class="col-sm-12 col-md-4 mt-10 mb-10 mt-10Mobile mb-10Mobile">
				<div class="card--general-event img-hover-zoom img-hover-zoom--brightness">
					<a href="/en/events/airbeat-one/" class="general-event__link">
						<img class="img-event lazyload " src="{{ asset("pho/event.png") }}" alt="image event"> 
						<div class="general-event__logo-container">
							<h3 class="upperCase size-title fc-white">Titre</h3>
						</div>
					</a> 
				</div>
			</div>
			<div class="col-sm-12 col-md-4 mt-10 mb-10 mt-10Mobile mb-10Mobile">
				<div class="card--general-event img-hover-zoom img-hover-zoom--brightness">
					<a href="/en/events/airbeat-one/" class="general-event__link">
						<img class="img-event lazyload " src="{{ asset("pho/event.png") }}" alt="image event"> 
						<div class="general-event__logo-container">
							<h3 class="upperCase size-title fc-white">Titre</h3>
						</div>
					</a> 
				</div>
			</div>
			<div class="col-sm-12 col-md-4 mt-10 mb-10 mt-10Mobile mb-10Mobile">
				<div class="card--general-event img-hover-zoom img-hover-zoom--brightness">
					<a href="/en/events/airbeat-one/" class="general-event__link">
						<img class="img-event lazyload " src="{{ asset("pho/event.png") }}" alt="image event"> 
						<div class="general-event__logo-container">
							<h3 class="upperCase size-title fc-white">Titre</h3>
						</div>
					</a> 
				</div>
			</div>
			<div class="col-sm-12 col-md-4 mt-10 mb-10 mt-10Mobile mb-10Mobile">
				<div class="card--general-event img-hover-zoom img-hover-zoom--brightness">
					<a href="/en/events/airbeat-one/" class="general-event__link">
						<img class="img-event lazyload " src="{{ asset("pho/event.png") }}" alt="image event"> 
						<div class="general-event__logo-container">
							<h3 class="upperCase size-title fc-white">Titre</h3>
						</div>
					</a> 
				</div>
			</div>
		</div>
	</div>
	<script>

		(function ($) {
"use strict";


/*==================================================================
    [ Focus input ]*/
$('.input100').each(function () {
$(this).on('blur', function () {
if ($(this).val().trim() != "") {
$(this).addClass('has-val');
} else {
$(this).removeClass('has-val');
}
})
})

})(jQuery);
	</script>


{% endblock %}
